{{ partial "header.html" . }}

<main class="content" role="main">
  <div class="single-page" style="max-width: 900px; margin: 0 auto; padding: 20px;">
    {{ if not .IsHome }}
      <div style="text-align: center;">
        <h1>{{ .Title }}</h1>
        {{ with .Params.subtitle }}<h2><span class="subtitle">{{ . }}</span></h2>{{ end }}
      </div>
    {{ end }}

    <div class="body-text list-text">
      {{ .Content | partial "add-header-anchors" }}
    </div>
  </div>
</main>

{{ partial "footer.html" . }}